html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #e5e9ec;
}
.wrapper {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
}
.switch {
  display: none;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 2rem;
  background: #2f363c;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}
.slider-inner {
  max-width: 960rem;
  overflow: hidden;  
  background: #e5e9ec;
}
.slider-images {
  display: flex;
  width: 100%;
  transition: all 0.5s;
  list-style: none;
}
.slider-img {
  width: 100%;
  flex-shrink:0;
}
.navigation {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.labels label {
  display: inline-block;
  padding: 5px;
  font-size: 0;
  cursor: pointer;
}
.labels span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 2px solid #e5e9ec;
  background-color: #738290;
  vertical-align: bottom; 
  transition: 0.7s;   
}
label:hover span{
  background-color: white;
}
label:active span{
  background-color: white;
}
#switch1:checked ~ .navigation .labels label[for="switch1"] span {
  background-color: white;
}

#switch2:checked ~ .navigation .labels label[for="switch2"] span {
  background-color: white;
}

#switch3:checked ~ .navigation .labels label[for="switch3"] span {
  background-color: white;
}
#switch4:checked ~ .navigation .labels label[for="switch4"] span {
  background-color: white;
}
#switch5:checked ~ .navigation .labels label[for="switch5"] span {
  background-color: white;
}

#switch1:checked~.slider-inner .slider-images {
  transform: translate(0);
}
#switch2:checked~.slider-inner .slider-images {
  transform: translateX(-100%);
}
#switch3:checked~.slider-inner .slider-images {
  transform: translateX(-200%);
}
#switch4:checked~.slider-inner .slider-images {
  transform: translateX(-300%);
}
#switch5:checked~.slider-inner .slider-images {
  transform: translateX(-400%);
}

.text-item {
  opacity: 1;
  visibility: visible;
  transition: 0.8s;
}
.text1,
.text2,
.text3,
.text4,
.text5 {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

#switch1:checked~.navigation .text .text1{
  opacity: 1;
  visibility: visible;
}
#switch2:checked~.navigation .text .text2{
  opacity: 1;
  visibility: visible;
}
#switch3:checked~.navigation .text .text3{
  opacity: 1;
  visibility: visible;
}
#switch4:checked~.navigation .text .text4{
  opacity: 1;
  visibility: visible;
}
#switch5:checked~.navigation .text .text5{
  opacity: 1;
  visibility: visible;
}