html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  color: #e5e9ec;
}
.wrapper {
  max-width: 64rem;
  width: 100%;
  margin: 2rem auto;
  background: #2f363c;
}
.switch {
  display: none;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 2rem;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 0, 0, 0.75);
}
.slider-inner {
  max-width: 960rem;
  overflow: hidden;  
  background: #000000;
}
.slider-images {
  display: flex;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  list-style: none;
}
.slider-img {
  width: 100%;
  flex-shrink:0;
}
.slider-img img {
  vertical-align: top;
  width: 50%;
}
.navigation {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
.labels label {
  display: inline-block;
  padding: 0.3rem;
  font-size: 0;
  cursor: pointer;
}
.labels span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 0.2rem solid #e5e9ec;
  background-color: #738290;
  vertical-align: bottom; 
  transition: 0.7s;   
}
label:hover span{
  background-color: #e5e9ec;
}
#switch1:checked ~ .navigation .labels label[for="switch1"] span,
#switch2:checked ~ .navigation .labels label[for="switch2"] span,
#switch3:checked ~ .navigation .labels label[for="switch3"] span,
#switch4:checked ~ .navigation .labels label[for="switch4"] span,
#switch5:checked ~ .navigation .labels label[for="switch5"] span {
  background-color: #738290;
  border-color: #738290;
}
#switch1:checked ~ .navigation .labels label[for="switch1"]:hover span,
#switch2:checked ~ .navigation .labels label[for="switch2"]:hover span,
#switch3:checked ~ .navigation .labels label[for="switch3"]:hover span,
#switch4:checked ~ .navigation .labels label[for="switch4"]:hover span,
#switch5:checked ~ .navigation .labels label[for="switch5"]:hover span {
  border-color: #738290;
  background-color: #e5e9ec;
}

#switch1:checked~.slider-inner .slider-images {
  transform: translate(0);
}
#switch2:checked~.slider-inner .slider-images {
  transform: translateX(-100%);
}
#switch3:checked~.slider-inner .slider-images {
  transform: translateX(-200%);
}
#switch4:checked~.slider-inner .slider-images {
  transform: translateX(-300%);
}
#switch5:checked~.slider-inner .slider-images {
  transform: translateX(-400%);
}

.text-item {
  opacity: 1;
  visibility: visible;
  transition: 0.8s;
}
.text1,
.text2,
.text3,
.text4,
.text5 {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

#switch1:checked~.navigation .text .text1,
#switch2:checked~.navigation .text .text2,
#switch3:checked~.navigation .text .text3,
#switch4:checked~.navigation .text .text4,
#switch5:checked~.navigation .text .text5 {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 auto;
  }
  .navigation {
      flex-direction: column-reverse;
  }    
  .labels {
    margin: 0 auto;
  } 
  .text {
    margin-top: 2rem;
  } 
  .slider-img img {
    width: 100%;
    object-fit: contain;
  }  
  .text-item {
    font-size: 1rem;
  }
}